.bannerSection {
  position: relative;
  background-color: #fafafa;
  font-family: Poppins Bold;
}

.bannerUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.bannerLeftMost {
  padding: 0 0 0 55px;
}

.headTitle {
  color: #222223;
  font-size: 36px;
  line-height: 1.125;
}

.titleButton {
  background: transparent;
  color: #001c71;
  box-shadow: none;
  border: 1px solid #001c71;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 23px;
  cursor: pointer;
}

.titleButton:hover {
  background: #001c71;
  color: #fafafa;
}

.bannerSkewBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bannerSkewBox > div {
  padding-top: 110px;
}

.bannerCardSkewBoxLeft {
  background-repeat: no-repeat;
  background-position: 100% 23%;
  background-size: cover;
  clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
  margin-right: -45px;
  padding: 0px 100px 20px 75px;
}

.bannerCardSkewBoxRight {
  background-repeat: no-repeat;
  background-position: 100% 40%;
  background-size: cover;
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
  margin-left: -45px;
  padding: 0px 75px 20px 120px;
}

.cardTitleLeft {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}

.cardTitleRight {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  margin: 0;
  margin-bottom: 35px;
}

.cardButton {
  background: transparent;
  color: #fafafa;
  border: 2px solid #fafafa;
  border-radius: 12px;
  font-family: Poppins Bold;
  font-size: 18px;
  line-height: 1em;
  cursor: pointer;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0 23px;
}

.cardButton:hover {
  background: #fafafa;
  color: #001c71;
}

@media (max-width:1024px) {
  .headTitle {
    color: #222223;
    font-size: 30px;
    line-height: 1.125;
  }
  
  .titleButton {
    font-size: 14px;
    font-weight: 700;
    padding: 8px 20px;
    cursor: pointer;
  }

  .cardTitleLeft {
    font-size: 20px;
    line-height: 1.2;
    color: #fafafa;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .cardTitleRight {
    font-size: 20px;
    line-height: 1.2;
    color: #fafafa;
    margin: 0;
    margin-bottom: 50px;
  }
  
  .cardButton {
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
}

@media (max-width:768px) {
  .bannerUl {
    grid-template-columns: 1fr;
  }

  .bannerLeftMost{
    padding: 30px;
    
  }

  .bannerSkewBox{
    display: flex;
    flex-direction: column;
  }

  .bannerCardSkewBoxLeft {
    background: #4f2b83 !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0px;
    padding: 0px;
  }
  
  .bannerCardSkewBoxRight {
    background: #001c71 !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0px;
    padding: 0px;
  }

  .bannerSkewBox > div {
    padding: 30px;
  }

  .cardButton {
    height: 40px;
  }

  .cardTitleLeft {
    margin-bottom: 10px;
  }

  .cardTitleRight {
    margin-bottom: 10px;
  }

}